.demo>span{
    padding: 2rem;
    display: inline-block;
    margin: 1rem;
    position: relative;
}
.demo>span::before{
    content: "";
    position: absolute;
    top:0; bottom: 0; right: 0; left: 0;
    transform: perspective(0.5em) rotateX(2deg);
    z-index: -1;
    background-color: red;
    transform-origin: bottom;
}
